.hero__container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  background: rgba(9, 9, 9, 0.41);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color);
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--color);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  background: var(--color);
}

nav ul li a.Active::after {
  width: 100%;
  left: 0;
  background: var(--color);
}

header img {
  width: 100px;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

main h1 {
  font-size: 3.5rem;
}

main p {
  max-width: 500px;
  color: var(--paragraph, #A7A9BE);
  text-align: justify;
  /* paragraph */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.upload {
  display: flex;
  gap: 1rem;
}

.upload button {
  padding: 1rem 2rem;
  background: #6246EA;
  color: var(--color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table img {
  position: absolute;
  width: 50%;
  z-index: -99999;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0.1;
}

/* Fila de encabezado */
.row {
  display: flex;
  background-color: #6246EA;
  color: white;
  font-weight: bold;
  padding: 12px;
}

/* Celdas (divs dentro de una fila) */
.cell {
  flex: 1;
  padding: 12px;
  text-align: left;

  overflow: hidden; /* Oculta el exceso de texto */
}

/* Estilo para las filas de contenido */
.row:nth-child(even) {
  background-color: #5f4bdb;
}

.row:nth-child(odd) {
  background-color: #7a61d0;
}

.row:hover {
  background-color: #4538a6;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #6246EA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #4538a6;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 102px 12.557px 95px;
}

footer a {
  color: var(--color);
  text-decoration: none;
}

.social__media {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}