.hero__container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  background: rgba(9, 9, 9, 0.41);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color);
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--color);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  background: var(--color);
}

nav ul li a.Active::after {
  width: 100%;
  left: 0;
  background: var(--color);
}

.badge {
  background: var(--primary);
  color: var(--color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: var(--primary-hover) 1px 1px 30px;
}

header img {
  width: 100px;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

main h1 {
  font-size: 3.5rem;
  margin: 0;
}

main h1 .color {
  color: var(--primary);
}

main p {
  max-width: 500px;
  color: var(--paragraph);
  text-align: justify;
  /* paragraph */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main p .file-select {
  color: var(--primary);
}

@keyframes glowAnimation {
  0% {
    text-shadow: 0 0 5px rgba(98, 70, 234, 0.5), 0 0 10px rgba(98, 70, 234, 0.3), 0 0 20px rgba(98, 70, 234, 0.2);
  }
  50% {
    text-shadow: 0 0 20px rgba(98, 70, 234, 1), 0 0 30px rgba(98, 70, 234, 0.8), 0 0 40px rgba(98, 70, 234, 0.6);
  }
  100% {
    text-shadow: 0 0 5px rgba(98, 70, 234, 0.5), 0 0 10px rgba(98, 70, 234, 0.3), 0 0 20px rgba(98, 70, 234, 0.2);
  }
}

.glowing-text {
  animation: glowAnimation 1.5s ease-in-out infinite;
}


.upload {
  display: flex;
  gap: 1rem;
}

.upload button {
  padding: 1rem 2rem;
  background: var(--primary);
  color: var(--color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem;
  background: var(--primary);
  color: var(--color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.btn:hover {
  background: var(--primary-hover);
}

button:hover {
  background: var(--primary-hover);
}

table {
  border-collapse: collapse;
  background-color: #121827;
  color: #FFFFFF;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;
  width: auto; /* Ancho fijo para la tabla */
  table-layout: fixed; /* Fija el ancho de las columnas */
  /* box-shadow: #1E293B 1px 1px 10px; */
}

thead tr {
  background-color: #1E1B4B;
}

th, td {
  padding: 12px 16px;
  white-space: nowrap; /* Evita que el texto se desborde en varias líneas */
  overflow: hidden; /* Oculta el exceso de texto */
  text-overflow: ellipsis;
}

td a {
  color: #6366F1;
  text-decoration: none;
}
td a:hover {
  text-decoration: underline;
}

th {
  text-transform: uppercase;
  font-size: 0.9em;

  /*
  Color de encabezado de la tabla
  color: #888888;
  */
}

td:first-child {
  max-width: 200px; /* Ancho máximo para la columna "Nombre del archivo" */
  word-wrap: break-word; /* Permite que el texto largo se divida en varias líneas */
  /* margin: auto; */
}

/* tr:nth-child(odd) {
  background-color: #1E293B;
} */

tr:hover {
  background-color: #1E1B4B;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: var(--primary-hover);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 102px 12.557px 95px;
}

footer a {
  color: var(--color);
  text-decoration: none;
  transition: all 0.3s ease;
}

footer a:hover {
  color: var(--primary);
  scale: 1.1;
}

.social__media {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    margin-top: 1rem;
  }

  main {
    flex-direction: column;
    text-align: center;
  }

  main h1 {
    font-size: 2.5rem;
  }

  main p {
    font-size: 1rem;
  }

  .upload {
    flex-direction: column;
  }

  .upload button {
    width: 100%;
  }

  footer {
    flex-direction: column;
    padding: 1rem;
  }

  footer a {
    text-align: center;
  }

  .social__media {
    justify-content: center;
  }
}