.hero__container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  background: rgba(9, 9, 9, 0.41);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color);
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--color);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  background: var(--color);
}

nav ul li a.Active::after {
  width: 100%;
  left: 0;
  background: var(--color);
}

header img {
  width: 100px;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

main h1 {
  font-size: 3.5rem;
}

main p {
  max-width: 500px;
  color: var(--paragraph);
  text-align: justify;
  /* paragraph */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.upload {
  display: flex;
  gap: 1rem;
}

.upload button {
  padding: 1rem 2rem;
  background: var(--primary);
  color: var(--color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload button:hover {
  background: var(--primary-hover);
}

table {
  border-collapse: collapse;
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;
  width: auto; /* Ancho fijo para la tabla */
  table-layout: fixed; /* Fija el ancho de las columnas */
}

th, td {
  padding: 12px 16px;
  white-space: nowrap; /* Evita que el texto se desborde en varias líneas */
  overflow: hidden; /* Oculta el exceso de texto */
  text-overflow: ellipsis;
}

td a {
  color: var(--primary);
  text-decoration: none;
}

th {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #888888;
}

td:first-child {
  max-width: 200px; /* Ancho máximo para la columna "Nombre del archivo" */
  word-wrap: break-word; /* Permite que el texto largo se divida en varias líneas */
}

tr:nth-child(odd) {
  background-color: #252526;
}

tr:hover {
  background-color: #333333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: var(--primary-hover);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 102px 12.557px 95px;
}

footer a {
  color: var(--color);
  text-decoration: none;
}

.social__media {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}